/backend/node_modules
.idea/
**/*.DS_Store
### Node template
# Logs
logs
*.log
npm-debug.log*
/backend/.eslintrc
/frontend/.tern-config

# Environment variables
/backend/.env

/backend/.tern-project
/frontend/.tern-project
/frontend/.eslintrc
